.list {
  height: calc(90vh - 300px);
  width: (1109px + 50px);

  &_wholeScreen {
    height: 85vh;
  }

  &__infinityScroll {
    width: 100%;
    scroll-behavior: smooth;

    &_grid {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  &__preloader {
    margin: 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #404140;
    text-align: center;
  }
}
