.itinerary {
  width: calc(1109px - 64px);
  max-height: 139px;
  margin-bottom: 16px;
  padding: 21px 32px;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #404140;
  border-radius: 16px;
  transition: margin-left 0.3s;

  &:hover {
    margin-left: 10px;
  }
}
