.itinerary {
  width: 1000px;
  max-width: 1109px;
  max-height: 139px;
  margin-bottom: 16px;
  padding: 24px 32px;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #404140;
  border-radius: 16px;
  transition: margin-left 0.3s;

  &:hover {
    margin-left: 10px;
  }
}
