* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
